/* File: styles/globals.css */

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Mengatur font default Inter dan body */
body {
  font-family: 'Inter', sans-serif;
  background-color: #f7f7f7; /* Background abu-abu muda */
  color: #333;
}

/* Kelas yang akan digunakan untuk konten markdown */
.article-content {
  line-height: 1.75;
  color: #333;
}
.article-content h2, .article-content h3 {
    margin-top: 1.5rem;
    margin-bottom: 0.75rem;
    font-weight: 700;
}
